{% extends "main/wrapper.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <form action="#" method="post">
            {% csrf_token %}
            <table class="table2">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <tr><td>Имя: </td><td>{{fio}}</td></tr>
                    <tr><td>Должность: </td><td>{{emp.rank}}</td></tr>
                </tbody>
            </table>

<p></p>

            {%for key, value in data.items%}

                {{key}}: {{value}}
            {%endfor%}
            <br>
            {%for key, value in data.items%}

                {{key}}: {{value.0}}
            {%endfor%}
            <br>
            <br>
            {%for key, value in data2.items%}
                {{key}}: {{value}}
            {%endfor%}
                        <p>            </p>

<!--<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/xrange.js"></script>-->
<script src="https://code.highcharts.com/gantt/highcharts-gantt.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<!--<script src="https://code.highcharts.com/modules/accessibility.js"></script>-->
<!--
<figure class="highcharts-figure">
  <div id="container"></div>
  <p class="highcharts-description">
    X-range charts are used to visualize a range on the X-axis.
    This is often used in Gantt charts, as seen in this example.
    The X-range data series forms the basis of Highcharts Gantt,
    but is also available with Highcharts.
  </p>
</figure>
-->
            {%if data2%}
                <div id="container"></div>
            {%endif%}


        </form>
<br>
        <br>
        <h3 align="center">Выберите даты</h3>
        <div align="center"><form action="/main/employees/{{emp.employee_id}}" method="post">
        {% csrf_token %}
        Начало:
    <input type="date" id="date1" name="date1">
        Конец:
        <input type="date" id="date2" name="date2">
        <input type="submit" class="btn btn-success btn-info" value="Обновить">
    </form></div>

        {%if queries_period%}
        <h3 align="center">Список заявок сотрудника за период: {{date1|date:"d/m/Y"}} - {{date2|date:"d/m/ Y"}}</h3>
        <table class="table3">
            <thead>
                <th>
                    <tr></tr>
                    <tr class="table_head"><td width="70vw">Id</td><td>Оборудование</td><td>Дата подачи заявки</td><td>Сообщение</td><td>Статус заявки</td><td></td></tr>
                </th>
            </thead>
            <tbody>
                {% for i in queries_period %}
                    <tr class="tr"><td>{{i.4}}</td><td>{{i.3}}</td><td>{{i.0|date:"d-m-Y в H:i"}}</td><td>{{i.2}}</td><td>{{i.1}}</td>
                        <td><p></p><a class="btn btn-success btn-info" href="/main/{{i.4}}">Подробнее</a><p></p></td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
        <br>
        <br>

         {%if queries_period%}
        <h3 align="center">Список нештатных работ сотрудника за период: {{date1|date:"d/m/Y"}} - {{date2|date:"d/m/ Y"}}</h3>
        <table class="table3">
            <thead>
                <th>
                    <tr></tr>
                    <tr class="table_head"><td width="70vw">Id</td><td>Работа</td><td>Дата создания</td><td>Сатус</td><td></td></tr>
                </th>
            </thead>
            <tbody>
                {% for i in works_for_period %}
                    <tr class="tr"><td>{{i.0}}</td><td>{{i.1}}</td><td>{{i.2|date:"d-m-Y в H:i"}}</td><td>{{i.3}}</td>
                        <td><p></p><a class="btn btn-success btn-info" href="/main/works/{{i.0}}">Подробнее</a><p></p></td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
        <br>
        <br>

        {%if queries_period%}
        <h3 align="center">Список ТО сотрудника за период: {{date1|date:"d/m/Y"}} - {{date2|date:"d/m/ Y"}}</h3>
        <table class="table3">
            <thead>
                <th>
                    <tr></tr>
                    <tr class="table_head"><td width="70vw">Id</td><td>Оборудование</td><td>Дата ТО</td><td>Статус заявки</td><td></td></tr>
                </th>
            </thead>
            <tbody>
                {% for i in maints_for_period %}
                    <tr class="tr"><td>{{i.0}}</td><td>{{i.3}}</td><td>{{i.2|date:"d-m-Y в H:i"}}</td><td>{{i.1}}</td>
                        <td><p></p><a class="btn btn-success btn-info" href="/main/maintenance/{{i.0}}">Подробнее</a><p></p></td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
        {%endif%}
        <br>
        <br>

<h3 align="center">Список ТЕКУЩИХ заявок сотрудника:</h3>

        <table class="table3">
            <thead>
                <th>
                    <tr></tr>
                    <tr class="table_head"><td>Оборудование</td><td>Дата подачи заявки</td><td>Сообщение</td><td>Статус заявки</td><td></td></tr>
                </th>
            </thead>
            <tbody>
                {% for i in queries %}
                    <tr class="tr"><td>{{i.0}}</td><td>{{i.1|date:"d-m-Y в H:i"}}</td><td>{{i.2}}</td><td>{{i.3}}</td>
                        <td><p></p><a class="btn btn-success btn-info" href="/main/{{i.4}}">Подробнее</a><p></p></td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <p></p>
        <br>
        <br>
        <br>
        <br>
<h3 align="center">Список ТЕКУЩИХ нештатных работ сотрудника:</h3>

        <table class="table3">
            <thead>
                <th>
                    <tr></tr>
                    <tr class="table_head"><td>Id</td><td>Дата создания</td><td>Работа</td><td>Статус</td><td></td></tr>
                </th>
            </thead>
            <tbody>
                {% for i in works %}
                    <tr class="tr"><td>{{i.0}}</td><td>{{i.2|date:"d-m-Y в H:i"}}</td><td>{{i.1}}</td><td>{{i.3}}</td>
                        <td><p></p><a class="btn btn-success btn-info" href="/main/works/{{i.0}}">Подробнее</a><p></p></td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <p></p>
        <br>
        <br>
        <br>
        <br>
        {%if queries_period%}
        {%else%}
        <h3 align="center">Список ЗАВЕРШЕННЫХ заявок сотрудника:</h3>

        <table class="table3" id="table_done">
            <thead>
                <th>
                    <tr></tr>
                    <tr class="table_head"><td>Оборудование</td><td>Дата подачи заявки</td><td>Сообщение</td><td>Статус заявки</td><td></td></tr>
                </th>
            </thead>
            <tbody>
                {% for i in done_queries %}
                    <tr class="tr"><td>{{i.0}}</td><td>{{i.1|date:"d-m-Y в H:i"}}</td><td>{{i.2}}</td><td>{{i.3}}</td>
                        <td><p></p><a class="btn btn-success btn-info" href="/main/{{i.4}}">Подробнее</a><p></p></td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>

        <p></p>
        <br>
        <br>
        <br>
        <br>
        <h3 align="center">Список ТО сотрудника:</h3>

        <table class="table3" id="table_to">
            <thead>
                <th>
                    <tr></tr>
                    <tr class="table_head"><td>Оборудование</td><td>Дата ТО</td><td>Статус ТО</td><td></td></tr>
                </th>
            </thead>
            <tbody>
                {% for i in my_tos %}
                    <tr class="tr"><td>{{i.4}}</td><td>{{i.0|date:"d-m-Y в H:i"}}</td><td>{{i.3}}</td>
                        <td><p></p><a class="btn btn-success btn-info" href="/main/maintenance/{{i.5}}">Подробнее</a><p></p></td>

                    </tr>
                {%endfor%}
            </tbody>
        </table>
<br>
        <br>{%endif%}

        {%if queries_period%}
        <p>Количество заявок: {{num_queries}}. Из них: {{queries_done_period}} - Завершенных; {{queries_process_period}} - В процессе; {{queries_get_period}} - Принято</p>
        <p>Количество ТО: {{num_maints}}. Из них {{maints_done_period}} - Завершено</p>
        <p>Количество нештатных работ: {{num_works}} Из них {{works_done_period}} - Завершено</p>
        {%endif%}

    </div>
</div>

<script>$(document).ready( function () {
    $('#table_done').DataTable({
    "order": [[0, "desc"]]
    });
} );
</script>

<script>$(document).ready( function () {
    $('#table_to').DataTable({
    "order": [[0, "desc"]]
    });
} );
</script>

<!--asd--
<script>
    Highcharts.chart('container', {
  chart: {
    type: 'xrange'
  },
  title: {
    text: 'Заявки сотрудника {{fio}}'
  },
  accessibility: {
    point: {
      descriptionFormatter: function (point) {
        var ix = point.index + 1,
          category = point.yCategory,
          from = new Date(point.x),
          to = new Date(point.x2);
        return ix + '. ' + category + ', ' + from.toDateString() +
          ' to ' + to.toDateString() + '.';
      }
    }
  },
  xAxis: {
    type: 'datetime'
  },
  yAxis: {
    title: {
      text: ''
    },
    categories: [{%for key, value in data2.items%} '{{key}}', {%endfor%}],
    reversed: true
  },
  series: [{
    name: 'Project 1',
    // pointPadding: 0,
    // groupPadding: 0,
    borderColor: 'gray',
    pointWidth: 20,
    data: [
    {% for key, value1 in data2.items %}
    {%for value in value1%}
    {
     x: Date.UTC({{value.1}}, {{value.2}}, {{value.3}}, {{value.4}}, {{value.5}}),
     x2: Date.UTC({{value.6}}, {{value.7}}, {{value.8}}, {{value.9}}, {{value.10}}),
     y: {{ value.0 }}
    },
    {%endfor%}
    {% endfor %}
    ],
    dataLabels: {
      enabled: true
    }
  }]

});
</script>
-->


<script>
    Highcharts.ganttChart('container', {

  title: {
    text: 'Gantt Chart with Navigation'
  },

  yAxis: {
    uniqueNames: true
  },

  navigator: {
    enabled: true,
    liveRedraw: true,
    series: {
      type: 'gantt',
      pointPlacement: 0.5,
      pointPadding: 0.25
    },
    yAxis: {

      reversed: true,
      categories: [{%for key, value in data2.items%} '{{key}}', {%endfor%}]
    }
  },
  scrollbar: {
    enabled: true
  },
  rangeSelector: {
    enabled: true,
    selected: 0
  },

  series: [{
    name: 'Project 1',
    data: [{% for key, value1 in data2.items %}
    {%for value in value1%}
    {
     start: Date.UTC({{value.1}}, {{value.2}}, {{value.3}}, {{value.4}}, {{value.5}}),
     end: Date.UTC({{value.6}}, {{value.7}}, {{value.8}}, {{value.9}}, {{value.10}}),
     name: '{{ key }}'
    },
    {%endfor%}
    {% endfor %}]
  }]
});

</script>

{% endblock %}