{% extends "main/wrapper.html" %}


{% block content %}
<div class="jumbotron">
    <div class="container">
        <form action="edit_query" method="post">
            {% csrf_token %}
            <div style="float:left">
            <table class="table2">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr><td>ID заявки: </td><td>{{ query.query_id }}</td></tr>
                <tr><td>Создатель: </td><td>{{creator}}</td></tr>
                <tr><td>Дата подачи: </td><td>{{query.post_time|date:"d-m-Y в H:i"}}</td></tr>
                {%if query.start_time%}<tr><td>Время начала: </td><td>{{query.start_time|date:"d-m-Y в H:i"}}</td></tr>{%endif%}
                {%if query.stop_time%}<tr><td>Время завершения: </td><td>{{query.stop_time|date:"d-m-Y в H:i"}}</td></tr>{%endif%}
                <tr><td>Статус заявки: </td>
                    <td>
                        <select name="query_status_select" class="selectpicker" data-width="300px" data-style="btn btn-outline-dark">
                            <option value={{query.query_status}} selected>{{query.query_status}}</option>
                            <option value="Новая">Новая</option>
                            <option value="Принята">Принята</option>
                            <option value="В процессе">В процессе</option>
                            <option value="Приостановлена">Приостановлена</option>
                            <option value="Отложена мастером">Отложена мастером</option>
                            <option value="Отложена исполнителем">Отложена исполнителем</option>
                            <option value="Завершена">Завершена</option>
                        </select>
                    </td>
                </tr>
                <tr><td>Оборудование: </td><td><a href="/main/equipment/{{equipment.eq_id}}">{{equipment.eq_name}}</a></td></tr>
                <tr><td>Инв.№: </td><td>{{equipment.invnum}}</td></tr>
                <tr><td>Причина поломки: </td>
                    <td>
                        <select name="query_reason_select" class="selectpicker" data-width="300px" data-style="btn btn-outline-dark">
                            <option value="{{query.reason}}" selected>{{query.reason}}</option>
                            {%for i in reasons%}
                                <option value="{{i.reason}}">{{i.reason}}</option>
                            {%endfor%}
                        </select>
                    </td>
                </tr>
                <tr><td>Сообщение: </td><td><div style="width: 400px">{{query.msg}}</div></td></tr>
                <tr><td>Статус оборудования: </td>
                    <td><select name="eq_status_select" class="selectpicker" data-width="300px" data-style="btn btn-outline-dark">
                            <option value="{{equipment.eq_status}}" selected>{{equipment.eq_status}}</option>
                            <option value="Остановлено">Остановлено</option>
                            <option value="Работает">Работает</option>
                        </select></td>
                </tr>

                <tr><td>Комментарий ИТР: </td><td><textarea name="comment" rows="3" cols="25">{{query.comment}}</textarea></td></tr>
                <tr>
                    <td>
                        <div>
                            <input type="submit" class="btn btn-success btn-info" value="Сохранить">
                        </div>
                    </td>
                    <td>
                        <div align="right"><!-- Button trigger modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Удалить заявку</button>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal2">Редактировать время</button>
                        </div>
                    </td>
                </tr>
        </form>
                <tr><td>Назначен на заявку: </td>
                    <td><form action="/{{query.query_id}}/reappoint_query" method="post">{% csrf_token %}
                        <select name="emp_select" multiple class="selectpicker" data-width="300px" data-style="btn btn-outline-dark">
                            {%for i in final_emps %}
                                        <option value="{{i.0}}"
                                                {% if i.2 == True %} selected="selected" {%endif%}
                                        >{{i.1}}</option>
                            {%endfor%}
                        </select>
                        <input type="submit" class="btn btn-success btn-info" value="Назначить">
                    </td></form>
                </tr>
                </tbody>
            </table>
            </div>


            <!-- Modal2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form action="change_query_time" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Выберите дату</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <table>
                <tr><td>Время начала: </td><td>{{query.start_time|date:"d-m-Y в H:i"}}</td><td><input id="start_datetime" name="start_datetime" type="datetime-local"></td></tr>
                <tr><td>Время завершения: </td><td>{{query.stop_time|date:"d-m-Y в H:i"}}</td><td><input id="stop_datetime" name="stop_datetime" type="datetime-local"></td></tr>
            </table>
            </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
        </form>
    </div>
  </div>
</div>



{%if query.photo_name%}
<div style="float: left;">
    <img style='border:5px solid #FFDAB9' src="/static/images/query_photos/{{query.photo_name}}" onerror="this.src='/static/images/no_photo_query.jpg'" width="400">
</div>
            {%else%}
            <img style='border:5px solid #FFDAB9' src="/static/images/no_photo_query.jpg" alt="ytne"" width="400">
{%endif%}

            <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Удаление заявки</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Вы действительно хотите удалить эту заявку?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
        <a class="btn btn-success btn-danger" href="/{{query.query_id}}/delete_query">Да, удалить</a>
      </div>
    </div>
  </div>
</div>
<br>





            <div style="clear: left" class="container" align="center">
            <table class="table3">
                <thead>
                <th>
                    <tr></tr>
                    <tr class="table_head"><td>Автор</td><td>Дата/время</td><td>Текст</td></tr>
                </th>
                </thead>
                <tbody>
                <br>
                <br>
                <h1>Комментарии по заявке от исполнителей: </h1>
                {% for i in coms %}
                    <tr class="tr">
                        <td class="td">{{i.4}}</td><td class="td">{{i.3|date:"d-m-Y в H:i"}}</td><td class="td">{{i.2}}<p></p></td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
            </div>

            <div class="container" align="center">
            <table class="table3">
                <thead>
                <th>
                    <tr></tr>
                    <tr class="table_head"><td>Кто</td><td>ТМЦ</td></tr>
                </th>
                </thead>
                <tbody>
                <br>




                <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<figure class="highcharts-figure">
  <div id="container"></div>
  <p class="highcharts-description">
    Chart showing stacked horizontal bars. This type of visualization is
    great for comparing data that accumulates up to a sum.
  </p>
</figure>





                <h1>Потраченные ТМЦ: </h1>
                {% for i in supplies %}
                    <tr class="tr">
                        <td class="td">{{i.0}}</td><td class="td">{{i.1}}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
            </div>

            <br>
            <br>
            <h1 align="center">Работы по заявке велись:</h1>

            <div class="container" align="center">
            <table class="table3">
                <thead>
                <th>
                    <tr></tr>
                    <tr class="table_head"><td>Исполнитель</td><td>Начало</td><td>Конец</td></tr>
                </th>
                </thead>
                <tbody>
                {% for i in works %}
                    <tr class="tr">
                        <td class="td">{{i.3}}</td><td class="td">{{i.1|date:"d-m-Y в H:i"}}</td><td class="td">{{i.2|date:"d-m-Y в H:i"}}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
            </div>

    {{new}}
    {{sent}}
    {{process}}



    </div>
</div>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

<script>
    Highcharts.chart('container', {
  chart: {
    type: 'bar'
  },
  title: {
    text: 'Жизненный цикл заявки'
  },
  xAxis: {
    categories: ['Заявка']
  },
  yAxis: {
    min: 0,
    title: {
      text: 'Часы'
    }
  },
  legend: {
    reversed: true
  },
  plotOptions: {
    series: {
      stacking: 'normal'
    }
  },
  series: [
  {
    name: 'В процессе',
    data: [{{process}}]
  }, {
    name: 'Принята',
    data: [{{sent}}]
  }, {
    name: 'Новая',
    data: [{{new}}]
    }
  ]
});
</script>
{% endblock %}
