{% extends "main/wrapper.html" %}

{% block content %}

<div class="jumbotron">
    <div class="container">


            <table class="table2">

                <tr><td>Оборудование: </td><td>
                    <a href="/main/equipment/{{eq.eq_id}}">{{eq.eq_name}}</a>, {{eq.invnum}}
                </td></tr>
                <tr><td>Тип: </td><td>{{to.type}}</td></tr>
                <tr><td>Запланированная дата:</td><td>{{to.plan_date|date:"d-m-Y"}}</td></tr>
                {%if to.plan2_date%}<tr><td>Перенесено на: </td><td>{{to.plan2_date|date:"d-m-Y"}}</td></tr>{%endif%}
                <tr><td>Дата начала: </td>
                    <td>{%if to.status != 'Новое'%}
                            {{to.start_time|date:"d-m-Y в H:i"}}

                        {%endif%}
                    </td>
                </tr>

                <tr>
                    <td>Дата завершения: </td>
                    <td>{{to.end_time|date:"d-m-Y в H:i"}}</td>
                </tr>
                <tr><td>Статус</td><td>{{to.status2}}</td></tr>
                {%if to.reason %}<tr><td>Причина переноса: </td><td>{{to.reason}}</td></tr>{%endif%}
                <tr><td>Назначен на заявку: </td>
                    <td><form action="/{{to.id}}/reappoint_to" method="post">{% csrf_token %}
                        <select name="emp_select" multiple class="selectpicker" data-style="btn btn-outline-dark" data-width="300px" data-size="6">
                            {%for i in final_emps %}
                                        <option value="{{i.0}}"
                                                {% if i.2 == True %} selected="selected" {%endif%}
                                        >{{i.1}}</option>
                            {%endfor%}
                        </select><input type="submit" class="btn btn-success btn-info" value="Назначить">
                    </form></td>
                </tr>
                <tr>
                    <td>Комментарий: </td>
                    <td><textarea name="comment" rows="5" cols="70">{{to.comment}}</textarea></td>
                </tr>
                <tr><td></td><td align="right"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">Перенести ТО</button></td></tr>
                <tr><td></td><td align="right"><button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal2">Редактировать время</button></td></tr>
            </table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form action="/{{to.id}}/move_to" method="post">
            {% csrf_token %}
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Выберите дату</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input type="date" id="date" name="date">
      </div>
      <div class="modal-body">
          Причина переноса<br><textarea name="reason" cols="40" rows="3" id="reason" name="reason"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
        </form>
    </div>
  </div>
</div>



        <!-- Modal2 -->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <form action="{{to.id}}/change_time" method="post">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Выберите дату</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            <table>
                <tr><td>Время начала: </td><td>{{to.start_time|date:"d-m-Y в H:i"}}</td><td><input id="start_datetime" name="start_datetime" type="datetime-local"></td></tr>
                <tr><td>Время завершения: </td><td>{{to.end_time|date:"d-m-Y в H:i"}}</td><td><input id="end_datetime" name="end_datetime" type="datetime-local"></td></tr>
            </table>
            </div>
            <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
      </div>
        </form>
    </div>
  </div>
</div>



    </div>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

{% endblock %}