{% extends "main/wrapper.html" %}

{% block content %}
{%for key, value in task.items%}
{%for i in values%}
<p>{{i.0}} - {{i.1}} - {{i.2}}
    {%endfor%}
{%endfor%}



<br>

<h1 align="center">Ежедневные задачи</h1>
<form action="/main/tasks/save_tasks" method="post">
    {% csrf_token %}
    <div align="right"><input type="submit" class="btn btn-success" value="Сохранить"></div>
    <br>
<br>
    <table class="table" id="myTable">
        <thead>
        <tr class="table_head">
            <th class="my_th">Дата</th>
            <th class="my_th">Задачи</th>
        </tr>
        </thead>
<tbody>
{% for key, value in tasks.items %}
        <tr class="tr">
            <td class="td">{{key}}</td><td> <table>
                                {%for i in value%}
                                    <tr {%if i.1 == 'Завершена'%}style="background-color:#00FF00; border-radius:10px"{%endif%}><td style="width:60em">
                                        <div>{%if i.1 == 'Завершена'%}<del>{{i.0}}</del>{%else%}{{i.0}}{%endif%}</div>
                                    </td>
                                {%endfor%}
                </table></td>
        </tr>
{% endfor %}
</tbody>
        <tfoot class="text-primary">
        <tr>
            <th></th>
        </tr>
    </tfoot>
    </table>

</form>

<script>$(document).ready( function () {
    $('#myTable').DataTable({
    "order": [["desc"]],
    initComplete: function () {
            this.api().columns([]).every( function () {
                var column = this;
                var select = $('<select><option value=""></option></select>')
                    .click( function(e) {
                        e.stopPropagation();
                    })
                    .appendTo( $(column.header()) )
                    .on( 'change', function () {
                        var val = $.fn.dataTable.util.escapeRegex(
                            $(this).val()
                        );

                        column
                            .search( val ? '^'+val+'$' : '', true, false )
                            .draw();
                    } );

                column.data().unique().sort().each( function ( d, j ) {
                    select.append('<option value="' + d + '">' + d.substr(0,20) + '</option>')
                } );
            } );
        }
    });

} );
</script>

<script>
    $('td').each(function(){
	var x = $(this).text();
    if (x == 'Новая') $(this).css({color: 'red'});
    if (x == 'Завершена') $(this).css({color: 'green'});
	});

</script>




{% endblock %}