{% extends "main/wrapper.html" %}

{% block content %}

    <table class="table" id="myTable">
        <thead>
        <tr class="table_head">
            <th class="my_th">Заявка</th>
            <th class="th">Оборудование</th>
            <th class="th">ТМЦ</th>
            <th class="th"></th>
        </tr>
        </thead>
<tbody>
{% for i in tmc %}
        <tr class="tr">
            <td class="td">{{i.1}}</td>
            <td class="td">{{i.2}}</td>
            <td class="td">{{i.0}}</td>
            <td class="td"><a class="btn btn-success btn-info" href="/main/{{i.3}}">Подробнее</a> </td>
        </tr>
    {% endfor %}
</tbody>
        <tfoot class="text-primary">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
    </table>

{% endblock %}