<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ОГМ</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static "images/favicon.ico" %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat&display=swap&subset=cyrillic"
          rel="stylesheet">
    <link rel="stylesheet" href= "{% static 'style.css' %}" type="text/css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.3.1.js">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js">

    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/static/js/mjs.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
    <script src="../../../../dist/2.9.3/Chart.min.js"></script>
	<script src="../../utils.js"></script>














</head>
<body>

<header class="header">
    <div class="containerX">
        <div class="intro__inner">
            <h1 class="intro__title">Отдел ОГМ</h1>
        </div>
        <div style="float:right"><ul class="sidebar-nav">
               {% if user.is_authenticated %}
                    <li>{{ user.get_username }}</li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
               {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
               {% endif %}
                    <li><a href="/settings">Настройки</a></li>
                    </ul></div>
        </div>
    <div class="container">

        <div class="header__inner">
            <nav class="nav">
                <a class="nav__link" href="/main">Главная</a>
                <a class="nav__link" href="/main/equipment">Оборудование</a>
                <a class="nav__link" href="/main/employees">Сотрудники</a>
                <a class="nav__link" href="/main/stats">Статистика</a>
                <a class="nav__link" href="/main/maintenance">ТО</a>
            </nav>
        </div>
        <div class="header__inner">
            <nav class="nav">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="nav__link" href="/main/stats2">Статистика 2</a></p>

            </nav>
        </div>
    </div>
</header>

<div class="intro">

</div>
<div class="container">
    {% block content %}
            {% endblock %}
</div>




</body>
