<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Заголовок страницы</title>
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href= "{% static 'style.css' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat&display=swap&subset=cyrillic"
          rel="stylesheet">



</head>
<body>

<header class="header">
    <div class="containerX">
        <div class="intro__inner">
            <h1 class="intro__title">Welcome to OGM</h1>
        </div>

    <div class="container">

        <div class="header__inner">


        </div>
    </div>
</header>

<div class="intro" >

</div>
<div style="margin-top: 10%"><h1 align="center" >Произошла какая то ошибка( <br><br><br><br>Возможно вы не выбрали оборудование</h1></div>


</body>