<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat&display=swap&subset=cyrillic"
          rel="stylesheet">
    <title>Заявка в ОГМ</title>
      {% load static %}
    <link rel="stylesheet" href= "{% static 'style.css' %}" type="text/css">
  </head>
  <body>


<header class="header">
    <div class="containerX">
        <div class="intro__inner">
            <h1 class="intro__title">ОТДЕЛ ОГМ</h1>
        </div>
    <div style="float:right"><ul class="sidebar-nav">
               {% if user.is_authenticated %}
                    <li>{{ user.get_username }}</li>
                    <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
               {% else %}
                    <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
               {% endif %}
                    </ul></div>
    <div class="container">

        <div class="header__inner">


        </div>
    </div>
</header>




<div class="container">
    <br>
<p align="right"><a class="btn btn-success btn-info" href="pc_history">История заявок</a></p>
<br>
    {% block content %}
<div class="form-group">
    <div class="container">
        <form action="pc_query" method="post">
            {% csrf_token %}
            <table class="table2">
                <tr><td>Выбор участка: </td>
                <td>
                    <select name="area_select" id="area_select" class="selectpicker" data-style="btn btn-outline-dark" data-width="300px">
                            <option value="Механической обработки">Механической обработки</option>
                            <option value="Слесарный">Слесарный</option>
                            <option value="Сварочный">Сварочный</option>
                            <option value="Крупноузловой сборки">Крупноузловой сборки</option>
                            <option value="Малярный">Малярный</option>
                            <option value="Инструментальный">Инструментальный</option>
                            <option value="Радиомонтажа">Радиомонтажа</option>
                            <option value="Сборки">Сборки</option>
                            <option value="Тарный">Тарный</option>
                    </select>
                </td>
                </tr>
                <tr><td>Выбор оборудования</td><td>
                    <div style="display: block" id="div1">
                        <select class="selectpicker" data-live-search="true" data-style="btn-warning" name="area1" id="area1" data-size="10" data-width="300px">
                            <option value=""></option>
                            {% for i in area1 %}
                            <option value="{{i.eq_id}}">{{i.eq_type}} - {{i.eq_name}} - {{i.invnum}}</option>
                            {% endfor %}
                    </select>
                    </div>

                    <div style="display: none" id="div2">
                            <select class="selectpicker" data-live-search="true" data-style="btn-warning" name="area2" id="area2" data-size="10" data-width="300px">
                            <option value=""></option>
                            {% for i in area2 %}
                            <option value="{{i.eq_id}}">{{i.eq_type}} - {{i.eq_name}} - {{i.invnum}}</option>
                            {% endfor %}
                            </select>
                    </div>
                    <div style="display: none" id="div3">
                            <select class="selectpicker" data-live-search="true" data-style="btn-warning" name="area3" id="area3" data-size="10" data-width="300px">
                            <option value=""></option>
                            {% for i in area3 %}
                            <option value="{{i.eq_id}}">{{i.eq_type}} - {{i.eq_name}} - {{i.invnum}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div style="display: none" id="div4">
                            <select class="selectpicker" data-live-search="true" data-style="btn-warning" name="area4" id="area4" data-size="10" data-width="300px">
                            <option value=""></option>
                            {% for i in area4 %}
                            <option value="{{i.eq_id}}">{{i.eq_type}} - {{i.eq_name}} - {{i.invnum}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div style="display: none" id="div5">
                            <select class="selectpicker" data-live-search="true" data-style="btn-warning" name="area5" id="area5" data-size="10" data-width="300px">
                            <option value=""></option>
                            {% for i in area5 %}
                            <option value="{{i.eq_id}}">{{i.eq_type}} - {{i.eq_name}} - {{i.invnum}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div style="display: none" id="div6">
                            <select class="selectpicker" data-live-search="true" data-style="btn-warning" name="area6" id="area6" data-size="10" data-width="300px">
                            <option value=""></option>
                            {% for i in area6 %}
                            <option value="{{i.eq_id}}">{{i.eq_type}} - {{i.eq_name}} - {{i.invnum}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div style="display: none" id="div7">
                            <select class="selectpicker" data-live-search="true" data-style="btn-warning" name="area7" id="area7" data-size="10" data-width="300px">
                            <option value=""></option>
                            {% for i in area7 %}
                            <option value="{{i.eq_id}}">{{i.eq_type}} - {{i.eq_name}} - {{i.invnum}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div style="display: none" id="div8">
                            <select class="selectpicker" data-live-search="true" data-style="btn-warning" name="area8" id="area8" data-size="10" data-width="300px">
                            <option value=""></option>
                            {% for i in area8 %}
                            <option value="{{i.eq_id}}">{{i.eq_type}} - {{i.eq_name}} - {{i.invnum}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div style="display: none" id="div9">
                            <select class="selectpicker" data-live-search="true" data-style="btn-warning" name="area9" id="area9" data-size="10" data-width="300px">
                            <option value=""></option>
                            {% for i in area9 %}
                            <option value="{{i.eq_id}}">{{i.eq_type}} - {{i.eq_name}} - {{i.invnum}}</option>
                            {% endfor %}
                    </select>
                    </div>

                </td></tr>



                <tr><td>Оборудование остановлено?</td><td>
                    <select name="eq_status_select" class="selectpicker" data-style="btn btn-outline-dark" data-width="300px">
                        <option value="Работает" selected>Работает</option>
                        <option value="Остановлено">Остановлено</option>
                    </select>
                </td></tr>
                <tr><td>Причина остановки</td><td>
                    <select name="reason_select" class="selectpicker" data-style="btn btn-outline-dark" data-width="300px">
                        {%for i in reasons%}
                            <option value='{{i.reason}}'>{{i.reason}}</option>
                        {%endfor%}
                    </select>
                </td></tr>


                <tr>
                    <td>Сообщение: </td>
                    <td><textarea name="query_message" rows="5" cols="70"></textarea> <p>- Если вашего оборудования нет в списке, выберите пункт "Другое" и уточните в сообщении</p>
                    <p>- По возможности укажите ФИО оператора станка</p></td>

                </tr>

            </table>
            <input type="submit" class="btn btn-success btn-info" value="Отправить заявку">

        </form>


    </div>
</div>



<script>
    var areas = document.querySelector('#area_select');
    var area1 = document.getElementById('div1');
    var area2 = document.getElementById('div2');
    var area3 = document.getElementById('div3');
    var area4 = document.getElementById('div4');
    var area5 = document.getElementById('div5');
    var area6 = document.getElementById('div6');
    var area7 = document.getElementById('div7');
    var area8 = document.getElementById('div8');
    var area9 = document.getElementById('div9');
        areas.addEventListener('change', function() {
        if(this.value == 'Механической обработки') {
            area1.style.display = "block";
            area2.style.display = "none";
            area3.style.display = "none";
            area4.style.display = "none";
            area5.style.display = "none";
            area6.style.display = "none";
            area7.style.display = "none";
            area8.style.display = "none";
            area9.style.display = "none";
            area1.disabled=false;
            area2.disabled=true;
            area3.disabled=true;
            area4.disabled=true;
            area5.disabled=true;
            area6.disabled=true;
            area7.disabled=true;
            area8.disabled=true;
            area9.disabled=true;
            document.getElementById("area2").selectedIndex = 0;
            document.getElementById("area3").selectedIndex = 0;
            document.getElementById("area4").selectedIndex = 0;
            document.getElementById("area5").selectedIndex = 0;
            document.getElementById("area6").selectedIndex = 0;
            document.getElementById("area7").selectedIndex = 0;
            document.getElementById("area8").selectedIndex = 0;
            document.getElementById("area9").selectedIndex = 0;
            }
        if(this.value == 'Слесарный') {
            area1.style.display = 'none';
            area2.style.display = 'block';
            area3.style.display = 'none';
            area4.style.display = 'none';
            area5.style.display = "none";
            area6.style.display = "none";
            area7.style.display = "none";
            area8.style.display = "none";
            area9.style.display = "none";
            area1.disabled=true;
            area2.disabled=false;
            area3.disabled=true;
            area4.disabled=true;
            area5.disabled=true;
            area6.disabled=true;
            area7.disabled=true;
            area8.disabled=true;
            area9.disabled=true;
            document.getElementById("area3").selectedIndex = 0;
            document.getElementById("area4").selectedIndex = 0;
            document.getElementById("area5").selectedIndex = 0;
            document.getElementById("area6").selectedIndex = 0;
            document.getElementById("area7").selectedIndex = 0;
            document.getElementById("area8").selectedIndex = 0;
            document.getElementById("area9").selectedIndex = 0;
            }
        if(this.value == 'Сварочный') {
            area1.style.display = 'none';
            area2.style.display = 'none';
            area3.style.display = 'block';
            area4.style.display = 'none';
            area5.style.display = "none";
            area6.style.display = "none";
            area7.style.display = "none";
            area8.style.display = "none";
            area9.style.display = "none";
            area1.disabled=true;
            area2.disabled=true;
            area3.disabled=false;
            area4.disabled=true;
            area5.disabled=true;
            area6.disabled=true;
            area7.disabled=true;
            area8.disabled=true;
            area9.disabled=true;
            document.getElementById("area4").selectedIndex = 0;
            document.getElementById("area5").selectedIndex = 0;
            document.getElementById("area6").selectedIndex = 0;
            document.getElementById("area7").selectedIndex = 0;
            document.getElementById("area8").selectedIndex = 0;
            document.getElementById("area9").selectedIndex = 0;
            }
        if(this.value == 'Крупноузловой сборки') {
            area1.style.display = 'none';
            area2.style.display = 'none';
            area3.style.display = 'none';
            area4.style.display = 'block';
            area5.style.display = "none";
            area6.style.display = "none";
            area7.style.display = "none";
            area8.style.display = "none";
            area9.style.display = "none";
            area1.disabled=true;
            area2.disabled=true;
            area3.disabled=true;
            area4.disabled=false;
            area5.disabled=true;
            area6.disabled=true;
            area7.disabled=true;
            area8.disabled=true;
            area9.disabled=true;
            document.getElementById("area5").selectedIndex = 0;
            document.getElementById("area6").selectedIndex = 0;
            document.getElementById("area7").selectedIndex = 0;
            document.getElementById("area8").selectedIndex = 0;
            document.getElementById("area9").selectedIndex = 0;
            }
        if(this.value == 'Малярный') {
            area1.style.display = 'none';
            area2.style.display = 'none';
            area3.style.display = 'none';
            area4.style.display = 'none';
            area5.style.display = "block";
            area6.style.display = "none";
            area7.style.display = "none";
            area8.style.display = "none";
            area9.style.display = "none";
            area1.disabled=true;
            area2.disabled=true;
            area3.disabled=true;
            area4.disabled=true;
            area5.disabled=block;
            area6.disabled=true;
            area7.disabled=true;
            area8.disabled=true;
            area9.disabled=true;
            document.getElementById("area6").selectedIndex = 0;
            document.getElementById("area7").selectedIndex = 0;
            document.getElementById("area8").selectedIndex = 0;
            document.getElementById("area9").selectedIndex = 0;
        }
        if(this.value == 'Инструментальный') {
            area1.style.display = 'none';
            area2.style.display = 'none';
            area3.style.display = 'none';
            area4.style.display = 'none';
            area5.style.display = "none";
            area6.style.display = "block";
            area7.style.display = "none";
            area8.style.display = "none";
            area9.style.display = "none";
            area1.disabled=true;
            area2.disabled=true;
            area3.disabled=true;
            area4.disabled=true;
            area5.disabled=true;
            area6.disabled=block;
            area7.disabled=true;
            area8.disabled=true;
            area9.disabled=true;
            document.getElementById("area7").selectedIndex = 0;
            document.getElementById("area8").selectedIndex = 0;
            document.getElementById("area9").selectedIndex = 0;
        }
        if(this.value == 'Радиомонтажа') {
            area1.style.display = 'none';
            area2.style.display = 'none';
            area3.style.display = 'none';
            area4.style.display = 'none';
            area5.style.display = "none";
            area6.style.display = "none";
            area7.style.display = "block";
            area8.style.display = "none";
            area9.style.display = "none";
            area1.disabled=true;
            area2.disabled=true;
            area3.disabled=true;
            area4.disabled=true;
            area5.disabled=true;
            area6.disabled=true;
            area7.disabled=block;
            area8.disabled=true;
            area9.disabled=true;
            document.getElementById("area8").selectedIndex = 0;
            document.getElementById("area9").selectedIndex = 0;
        }
        if(this.value == 'Сборки') {
            area1.style.display = 'none';
            area2.style.display = 'none';
            area3.style.display = 'none';
            area4.style.display = 'none';
            area5.style.display = "none";
            area6.style.display = "none";
            area7.style.display = "none";
            area8.style.display = "block";
            area9.style.display = "none";
            area1.disabled=true;
            area2.disabled=true;
            area3.disabled=true;
            area4.disabled=true;
            area5.disabled=true;
            area6.disabled=true;
            area7.disabled=true;
            area8.disabled=block;
            area9.disabled=true;
            document.getElementById("area9").selectedIndex = 0;
        }
        if(this.value == 'Тарный') {
            area1.style.display = 'none';
            area2.style.display = 'none';
            area3.style.display = 'none';
            area4.style.display = 'none';
            area5.style.display = "none";
            area6.style.display = "none";
            area7.style.display = "none";
            area8.style.display = "none";
            area9.style.display = "block";
            area1.disabled=true;
            area2.disabled=true;
            area3.disabled=true;
            area4.disabled=true;
            area5.disabled=true;
            area6.disabled=true;
            area7.disabled=true;
            area8.disabled=true;
            area9.disabled=block;
        }

    });
</script>


    {% endblock %}
</div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>

  </body>
</html>